In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import plotly.express as px
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, recall_score, precision_score

In [78]:
df = pd.read_csv("retouren.csv")
df["user_dob"] = pd.to_datetime(df.user_dob)
df["user_reg_date"] = pd.to_datetime(df.user_reg_date)
df["order_date"] = pd.to_datetime(df.order_date)
df["delivery_date"] = pd.to_datetime(df.delivery_date)
df = df.drop(df[df.item_price == 999].index)
df = df.drop(df[df.delivery_date < df.order_date].index)
df = df.drop(df[df.item_color == "?"].index)
df.loc[df.item_color == "brwon","item_color"] = "brown"
df.loc[df.item_color == "blau","item_color"] = "blue"
df.loc[df.item_color == "dark oliv","item_color"] = "dark olive"
df["age"] = df.order_date.dt.year - df.user_dob.dt.year -((df.order_date.dt.date)<(df.user_dob.dt.date))
df["acc_age"] = (df.order_date - df.user_reg_date).dt.days
#df["acc_age"] = df.acc_age.dt.days
df_mark = df.groupby(["item_id","item_size","item_color"]).agg(maxprice=("item_price","max")).reset_index()
df = pd.merge(df,df_mark)
df["markdown"] = 0
df.loc[df.item_price < df.maxprice,"markdown"] = 1
df.drop(df[df.delivery_date.isna()].index, inplace=True)

df.loc[df.age > 100, "age"] = df.loc[df.age > 100, "age"] - 100
bins=[0,10,20,30,40,50,60,70,80,90,100]
df["age"] = pd.cut(df.age,bins=bins)

df.sort_values('order_date', inplace=True)

# Generate order ID and order size
order_id_generator = df.groupby(['order_date', 'user_id'], sort= False).size().reset_index(name='order_size')
order_id_generator['order_id'] = order_id_generator.index

df = pd.merge(df,order_id_generator,on=['user_id', 'order_date'], how='left')

# Generate the number of the order per user
df_nth_order_of_user = df.groupby(['user_id', 'order_id'], as_index=False).size().drop('size', axis=1)
df_nth_order_of_user['nth_order_of_user'] = df_nth_order_of_user.groupby(['user_id']).cumcount()+1

df = pd.merge(df,df_nth_order_of_user,on=['user_id', 'order_id'], how='left')

# Generate if item id appears multiple times in one order
item_counts_in_order = df.groupby(['order_id', 'item_id'], as_index=False).size()
item_counts_in_order['item_id_>1_in_order'] = item_counts_in_order['size'] > 1

df = pd.merge(df,item_counts_in_order[['order_id', 'item_id', 'item_id_>1_in_order']],on=['order_id', 'item_id'], how='left')

# Generate if item id appears in previous order
df['item_id_ordered_previously'] = False

for index, row in df.iterrows():
    item_id = row['item_id']
    order_id = row['order_id']
    user_id = row['user_id']
    if user_id == 9: print(user_id, order_id, item_id)
    for i2, prev_row in df[df.user_id == user_id].iterrows():
        if user_id == 9: print(f"{'':15}{prev_row['item_id']}")
        if prev_row['order_id'] == order_id: 
            break
        if prev_row['item_id'] == item_id: 
            df.loc[index, 'item_id_ordered_previously'] = True
            break
        

#print(df.loc[df.order_id == 0])
print(df.head())
df_reduced = df[df.user_id < 100].sort_values('order_date')
df_reduced.groupby('user_id').apply(display)

9 12605 1922
               1922
9 12605 1613
               1922
9 12605 2081
               1922
9 16463 1613
               1922
               1613
9 16463 2081
               1922
               1613
               2081
   order_item_id order_date delivery_date  item_id item_size item_color  \
0              1 2016-06-22    2016-06-27      643        38       navy
1            641 2016-06-22    2016-06-28      100        39        red
2            620 2016-06-22    2016-07-04      523        xl    magenta
3            621 2016-06-22    2016-07-04      523        xl    magenta
4            548 2016-06-22    2016-06-26      173         m      brown

   brand_id  item_price  user_id user_title  ... return       age acc_age  \
0        30        49.9    30822        Mrs  ...      0  (40, 50]      -1
1        43        69.9    30931         Mr  ...      1  (40, 50]     491
2         3         7.9    30929        Mrs  ...      1  (50, 60]     491
3         3         7.9    30929        Mrs  ...      1  (50, 60]     491
4        20        19.9    18912        Mrs  ...      1  (50, 60]     491

   maxprice markdown  order_size  order_id  nth_order_of_user  \
0      49.9        0           1         0                  1
1      69.9        0          12         1                  1
2      12.9        1          10         2                  1
3      12.9        1          10         2                  1
4      49.9        1           8         3                  1

   item_id_>1_in_order  item_id_ordered_previously
0                False                       False
1                 True                       False
2                 True                       False
3                 True                       False
4                False                       False

[5 rows x 23 columns]

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
40006,47261,2016-08-01,2016-08-24,1613,40,ancient,1,199.9,9,Mrs,...,1,"(40, 50]",152,199.9,0,3,12605,1,False,False
40401,47259,2016-08-01,2016-08-02,2081,40,black,40,219.9,9,Mrs,...,1,"(40, 50]",152,219.9,0,3,12605,1,False,False
40003,47260,2016-08-01,2016-08-02,1922,40,grey,26,159.9,9,Mrs,...,1,"(40, 50]",152,159.9,0,3,12605,1,False,False
54918,62930,2016-08-10,2016-08-14,1613,40,black,1,199.9,9,Mrs,...,0,"(40, 50]",161,199.9,0,2,16463,2,False,True
55001,62931,2016-08-10,2016-08-14,2081,40,black,40,219.9,9,Mrs,...,1,"(40, 50]",161,219.9,0,2,16463,2,False,True

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
19324,24204,2016-07-02,2016-07-03,966,37,turquoise,69,44.9,11,Mrs,...,0,"(40, 50]",501,44.9,0,1,5589,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
20717,26128,2016-07-03,2016-07-04,103,41,grey,17,69.9,24,Mrs,...,0,"(50, 60]",121,99.9,1,1,5962,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
59448,67312,2016-08-13,2016-08-15,1658,m,black,90,189.9,30,Mrs,...,0,"(60, 70]",204,189.9,0,2,17326,1,True,False
58472,67311,2016-08-13,2016-08-15,1658,l,black,90,189.9,30,Mrs,...,1,"(60, 70]",204,189.9,0,2,17326,1,True,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
56831,65060,2016-08-11,2016-08-14,1617,40,green,6,69.9,40,Mrs,...,0,"(50, 60]",541,69.9,0,2,16603,1,False,False
55712,65059,2016-08-11,2016-08-14,1559,42,black,1,159.9,40,Mrs,...,0,"(50, 60]",541,159.9,0,2,16603,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
45353,54800,2016-08-05,2016-08-10,1496,xl,denim,2,49.9,48,Mrs,...,0,"(40, 50]",195,49.9,0,4,13940,1,False,False
45608,54802,2016-08-05,2016-08-10,1547,xl,red,37,39.9,48,Mrs,...,1,"(40, 50]",195,39.9,0,4,13940,1,False,False
44913,54801,2016-08-05,2016-08-10,546,xl,grey,3,59.9,48,Mrs,...,1,"(40, 50]",195,59.9,0,4,13940,1,False,False
44981,54803,2016-08-05,2016-08-10,214,xl,ash,49,44.9,48,Mrs,...,1,"(40, 50]",195,89.9,1,4,13940,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
12709,16931,2016-06-29,2016-07-03,358,m,grey,74,29.9,55,Mrs,...,0,"(50, 60]",101,39.9,1,2,3848,1,False,False
12711,16932,2016-06-29,2016-07-03,533,m,ocher,74,24.9,55,Mrs,...,1,"(50, 60]",101,29.9,1,2,3848,1,False,False
50432,58086,2016-08-07,2016-08-08,1514,l,brown,42,69.9,55,Mrs,...,1,"(50, 60]",140,69.9,0,10,14844,2,False,False
49887,58088,2016-08-07,2016-08-08,1505,unsized,petrol,102,49.9,55,Mrs,...,0,"(50, 60]",140,49.9,0,10,14844,2,True,False
49765,58090,2016-08-07,2016-08-08,1773,unsized,green,75,29.9,55,Mrs,...,1,"(50, 60]",140,29.9,0,10,14844,2,False,False
49310,58092,2016-08-07,2016-08-08,1507,unsized,berry,102,24.9,55,Mrs,...,1,"(50, 60]",140,24.9,0,10,14844,2,True,False
49236,58094,2016-08-07,2016-08-23,1788,l,green,20,119.9,55,Mrs,...,0,"(50, 60]",140,119.9,0,10,14844,2,False,False
49132,58091,2016-08-07,2016-08-08,1515,unsized,brown,42,29.9,55,Mrs,...,1,"(50, 60]",140,29.9,0,10,14844,2,False,False
49005,58087,2016-08-07,2016-08-08,1960,unsized,green,127,49.9,55,Mrs,...,1,"(50, 60]",140,49.9,0,10,14844,2,False,False
48984,58089,2016-08-07,2016-08-08,1507,unsized,petrol,102,24.9,55,Mrs,...,0,"(50, 60]",140,24.9,0,10,14844,2,True,False
49329,58093,2016-08-07,2016-08-08,1505,unsized,berry,102,49.9,55,Mrs,...,1,"(50, 60]",140,49.9,0,10,14844,2,True,False
48962,58095,2016-08-07,2016-10-03,1550,l,berry,117,129.9,55,Mrs,...,1,"(50, 60]",140,129.9,0,10,14844,2,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
61914,69931,2016-08-15,2016-08-16,1532,m,aquamarine,37,26.9,56,Mrs,...,0,"(50, 60]",82,29.9,1,3,18014,1,True,False
61247,69932,2016-08-15,2016-08-16,1532,m,mahagoni,37,26.9,56,Mrs,...,0,"(50, 60]",82,26.9,0,3,18014,1,True,False
61155,69933,2016-08-15,2016-10-18,1546,l,green,3,29.9,56,Mrs,...,0,"(50, 60]",82,29.9,0,3,18014,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
14502,15239,2016-06-29,2016-07-02,431,39,silver,51,34.90,60,Mrs,...,1,"(40, 50]",255,34.90,0,8,3242,1,True,False
11316,15241,2016-06-29,2016-07-02,615,152,purple,30,34.90,60,Mrs,...,1,"(40, 50]",255,69.95,1,8,3242,1,False,False
11959,15237,2016-06-29,2016-07-02,52,42,white,18,64.90,60,Mrs,...,0,"(40, 50]",255,79.90,1,8,3242,1,False,False
12367,15243,2016-06-29,2016-07-19,392,xl,brown,35,114.90,60,Mrs,...,0,"(40, 50]",255,114.90,0,8,3242,1,False,False
13143,15238,2016-06-29,2016-07-02,242,xl,white,20,59.90,60,Mrs,...,1,"(40, 50]",255,119.90,1,8,3242,1,False,False
13815,15240,2016-06-29,2016-07-02,431,33,blue,51,34.90,60,Mrs,...,1,"(40, 50]",255,34.90,0,8,3242,1,True,False
14195,15236,2016-06-29,2016-07-02,895,44,blue,39,39.95,60,Mrs,...,1,"(40, 50]",255,39.95,0,8,3242,1,False,False
14377,15242,2016-06-29,2016-07-02,54,xl,grey,30,16.40,60,Mrs,...,1,"(40, 50]",255,32.95,1,8,3242,1,False,False
21193,26211,2016-07-03,2016-07-04,242,xl,white,20,59.90,60,Mrs,...,1,"(40, 50]",259,119.90,1,1,6221,2,False,True
38648,46056,2016-07-30,2016-09-06,1895,11,black,21,99.95,60,Mrs,...,0,"(40, 50]",286,99.95,0,1,12081,3,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
22233,26024,2016-07-03,2016-07-04,57,l,petrol,3,39.9,66,Mrs,...,0,"(50, 60]",135,39.9,0,2,6463,1,False,False
22284,26023,2016-07-03,2016-07-04,98,l,green,28,44.9,66,Mrs,...,0,"(50, 60]",135,89.9,1,2,6463,1,False,False
62041,70493,2016-08-15,2016-08-20,1687,l,petrol,3,39.9,66,Mrs,...,1,"(50, 60]",178,39.9,0,11,18046,2,False,False
61884,70494,2016-08-15,2016-08-20,1499,l,turquoise,42,99.9,66,Mrs,...,0,"(50, 60]",178,99.9,0,11,18046,2,False,False
61815,70497,2016-08-15,2016-11-14,1617,42,green,6,69.9,66,Mrs,...,0,"(50, 60]",178,69.9,0,11,18046,2,False,False
61436,70489,2016-08-15,2016-08-20,1755,l,blue,73,79.9,66,Mrs,...,1,"(50, 60]",178,79.9,0,11,18046,2,False,False
61373,70492,2016-08-15,2016-08-20,1478,l,blue,73,99.9,66,Mrs,...,1,"(50, 60]",178,99.9,0,11,18046,2,False,False
61202,70495,2016-08-15,2016-08-30,1630,l,petrol,37,49.9,66,Mrs,...,0,"(50, 60]",178,49.9,0,11,18046,2,False,False
61283,70488,2016-08-15,2016-08-20,1468,l,blue,3,59.9,66,Mrs,...,1,"(50, 60]",178,59.9,0,11,18046,2,False,False
61211,70490,2016-08-15,2016-08-20,1415,l,aquamarine,3,21.9,66,Mrs,...,1,"(50, 60]",178,24.9,1,11,18046,2,True,False
62088,70496,2016-08-15,2016-10-09,1670,39,petrol,1,199.9,66,Mrs,...,0,"(50, 60]",178,199.9,0,11,18046,2,False,False
61289,70487,2016-08-15,2016-08-20,1485,l,turquoise,42,149.9,66,Mrs,...,1,"(50, 60]",178,149.9,0,11,18046,2,False,False
62091,70491,2016-08-15,2016-08-20,1415,l,green,3,21.9,66,Mrs,...,1,"(50, 60]",178,24.9,1,11,18046,2,True,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
4313,5825,2016-06-27,2016-06-28,128,xl,red,49,39.9,72,Mrs,...,1,"(60, 70]",496,39.9,0,1,1416,1,False,False
23954,28523,2016-07-05,2016-07-06,128,xl,denim,49,39.9,72,Mrs,...,0,"(60, 70]",504,39.9,0,1,7143,2,False,True

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
59837,66982,2016-08-13,2016-08-22,1828,40,red,122,59.90,86,Mrs,...,1,"(40, 50]",112,59.90,0,5,17277,1,True,False
58888,66983,2016-08-13,2016-09-17,1552,xxl,grey,49,199.90,86,Mrs,...,1,"(40, 50]",112,199.90,0,5,17277,1,False,False
58863,66981,2016-08-13,2016-08-22,1828,40,petrol,122,59.90,86,Mrs,...,0,"(40, 50]",112,59.90,0,5,17277,1,True,False
58508,66980,2016-08-13,2016-08-15,1537,xxl,dark olive,35,299.95,86,Mrs,...,1,"(40, 50]",112,299.95,0,5,17277,1,False,False
58418,66979,2016-08-13,2016-08-15,1526,xxl,grey,48,169.95,86,Mrs,...,1,"(40, 50]",112,169.95,0,5,17277,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
17346,21201,2016-07-01,2016-07-23,557,38,pink,1,64.9,90,Mrs,...,0,"(50, 60]",500,64.9,0,1,5009,1,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
10697,12570,2016-06-28,2016-07-02,415,41,green,1,44.9,94,Mrs,...,1,"(50, 60]",120,69.9,1,4,2829,1,False,False
10696,12569,2016-06-28,2016-07-02,334,40,grey,72,49.9,94,Mrs,...,0,"(50, 60]",120,49.9,0,4,2829,1,False,False
9302,12572,2016-06-28,2016-07-05,860,l,ocher,42,49.9,94,Mrs,...,0,"(50, 60]",120,99.9,1,4,2829,1,False,False
10689,12571,2016-06-28,2016-07-02,119,41,blue,43,44.9,94,Mrs,...,1,"(50, 60]",120,59.9,1,4,2829,1,False,False
16493,20390,2016-06-30,2016-07-24,32,m,red,3,12.4,94,Mrs,...,0,"(50, 60]",122,24.9,1,4,4640,2,False,False
16180,20392,2016-06-30,2016-07-27,370,l,ocher,31,44.9,94,Mrs,...,0,"(50, 60]",122,49.9,1,4,4640,2,False,False
15792,20389,2016-06-30,2016-07-24,58,l,green,31,44.9,94,Mrs,...,0,"(50, 60]",122,44.9,0,4,4640,2,False,False
16042,20391,2016-06-30,2016-07-24,434,l,green,28,49.9,94,Mrs,...,0,"(50, 60]",122,59.9,1,4,4640,2,False,False
31836,38667,2016-07-20,2016-07-23,1409,m,petrol,3,21.9,94,Mrs,...,0,"(50, 60]",142,21.9,0,8,9880,3,True,False
31848,38666,2016-07-20,2016-07-23,1628,l,petrol,3,24.9,94,Mrs,...,0,"(50, 60]",142,24.9,0,8,9880,3,True,False
31849,38665,2016-07-20,2016-07-23,1628,l,aubergine,3,24.9,94,Mrs,...,0,"(50, 60]",142,24.9,0,8,9880,3,True,False
31855,38670,2016-07-20,2016-07-23,1630,l,petrol,37,49.9,94,Mrs,...,1,"(50, 60]",142,49.9,0,8,9880,3,False,False
31874,38668,2016-07-20,2016-07-23,1409,m,pink,3,21.9,94,Mrs,...,0,"(50, 60]",142,21.9,0,8,9880,3,True,False
31882,38669,2016-07-20,2016-07-23,1629,unsized,anthracite,42,29.9,94,Mrs,...,0,"(50, 60]",142,29.9,0,8,9880,3,False,False
32054,38671,2016-07-20,2016-08-23,1631,unsized,orange,20,39.9,94,Mrs,...,0,"(50, 60]",142,39.9,0,8,9880,3,False,False
32190,38664,2016-07-20,2016-07-23,288,41+,grey,40,79.9,94,Mrs,...,0,"(50, 60]",142,79.9,0,8,9880,3,False,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
29043,33973,2016-07-13,2016-07-16,367,43,blue,18,99.90,98,Mrs,...,1,"(10, 20]",512,99.90,0,5,8936,1,False,False
28995,33974,2016-07-13,2016-07-16,375,44,brown,13,49.90,98,Mrs,...,0,"(10, 20]",512,49.90,0,5,8936,1,False,False
28863,33971,2016-07-13,2016-07-16,1373,34,red,69,39.90,98,Mrs,...,0,"(10, 20]",512,39.90,0,5,8936,1,False,False
28847,33970,2016-07-13,2016-07-16,1333,33,purple,69,42.90,98,Mrs,...,1,"(10, 20]",512,42.90,0,5,8936,1,False,False
28761,33972,2016-07-13,2016-07-16,1332,35,red,69,44.90,98,Mrs,...,1,"(10, 20]",512,44.90,0,5,8936,1,False,False
59359,67260,2016-08-13,2016-08-14,1402,33,red,69,99.95,98,Mrs,...,1,"(10, 20]",543,99.95,0,15,17369,2,True,False
59723,67267,2016-08-13,2016-08-20,2024,27,blue,51,69.90,98,Mrs,...,1,"(10, 20]",543,69.90,0,15,17369,2,True,False
59472,67257,2016-08-13,2016-08-14,1402,30,red,69,99.95,98,Mrs,...,1,"(10, 20]",543,99.95,0,15,17369,2,True,False
59375,67269,2016-08-13,2016-08-20,2024,29,blue,51,69.90,98,Mrs,...,1,"(10, 20]",543,69.90,0,15,17369,2,True,False
59371,67268,2016-08-13,2016-08-20,2024,28,blue,51,69.90,98,Mrs,...,1,"(10, 20]",543,69.90,0,15,17369,2,True,False
59367,67265,2016-08-13,2016-08-20,2187,31,purple,51,79.90,98,Mrs,...,1,"(10, 20]",543,79.90,0,15,17369,2,True,False
59365,67264,2016-08-13,2016-08-20,2187,30,purple,51,79.90,98,Mrs,...,1,"(10, 20]",543,79.90,0,15,17369,2,True,False
59361,67262,2016-08-13,2016-08-14,2056,2,brown,21,69.95,98,Mrs,...,1,"(10, 20]",543,69.95,0,15,17369,2,True,False
59358,67270,2016-08-13,2016-09-06,1665,1,grey,21,69.95,98,Mrs,...,1,"(10, 20]",543,69.95,0,15,17369,2,True,False
58919,67266,2016-08-13,2016-08-20,2187,32,purple,51,79.90,98,Mrs,...,1,"(10, 20]",543,79.90,0,15,17369,2,True,False
59338,67259,2016-08-13,2016-08-14,1402,32,red,69,99.95,98,Mrs,...,1,"(10, 20]",543,99.95,0,15,17369,2,True,False
59311,67258,2016-08-13,2016-08-14,1402,31,red,69,99.95,98,Mrs,...,1,"(10, 20]",543,99.95,0,15,17369,2,True,False
58680,67261,2016-08-13,2016-08-14,2056,1,brown,21,69.95,98,Mrs,...,1,"(10, 20]",543,69.95,0,15,17369,2,True,False
58538,67263,2016-08-13,2016-08-14,2056,3,brown,21,69.95,98,Mrs,...,1,"(10, 20]",543,69.95,0,15,17369,2,True,False
59356,67271,2016-08-13,2016-09-06,1665,13,grey,21,69.95,98,Mrs,...,1,"(10, 20]",543,69.95,0,15,17369,2,True,False

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,return,age,acc_age,maxprice,markdown,order_size,order_id,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously
2301,2836,2016-06-25,2016-06-26,128,l,ash,49,49.90,99,Mrs,...,0,"(40, 50]",86,49.90,0,3,776,1,False,False
2306,2837,2016-06-25,2016-06-26,502,10,green,21,45.90,99,Mrs,...,0,"(40, 50]",86,45.90,0,3,776,1,False,False
2573,2838,2016-06-25,2016-07-18,171,xl,black,3,24.90,99,Mrs,...,0,"(40, 50]",86,24.90,0,3,776,1,False,False
4484,9002,2016-06-27,2016-07-02,465,l,grey,49,29.90,99,Mrs,...,0,"(40, 50]",88,59.90,1,5,1526,2,True,False
4685,9001,2016-06-27,2016-07-02,465,l,ash,49,29.90,99,Mrs,...,0,"(40, 50]",88,59.90,1,5,1526,2,True,False
5928,8999,2016-06-27,2016-07-02,128,l,grey,49,39.90,99,Mrs,...,0,"(40, 50]",88,79.90,1,5,1526,2,True,True
7176,9000,2016-06-27,2016-07-02,128,m,ash,49,39.90,99,Mrs,...,0,"(40, 50]",88,39.90,0,5,1526,2,True,True
7177,8998,2016-06-27,2016-07-02,263,m,green,5,34.90,99,Mrs,...,0,"(40, 50]",88,39.90,1,5,1526,2,False,False
50629,57348,2016-08-07,2016-08-09,2071,unsized,red,48,16.95,99,Mrs,...,0,"(40, 50]",129,16.95,0,5,15166,3,True,False
50398,57350,2016-08-07,2016-08-10,1517,42,ocher,6,69.90,99,Mrs,...,0,"(40, 50]",129,69.90,0,5,15166,3,False,False
49779,57351,2016-08-07,2016-09-17,1802,xxl,navy,30,32.95,99,Mrs,...,0,"(40, 50]",129,32.95,0,5,15166,3,False,False
49707,57347,2016-08-07,2016-08-09,2086,xl,green,56,31.95,99,Mrs,...,0,"(40, 50]",129,31.95,0,5,15166,3,False,False
50441,57349,2016-08-07,2016-08-09,2071,unsized,blue,48,16.95,99,Mrs,...,0,"(40, 50]",129,16.95,0,5,15166,3,True,False

Empty DataFrame
Columns: []
Index: []

In [72]:
df.groupby('item_id_ordered_previously').size()

item_id_ordered_previously
False    66110
dtype: int64

In [5]:
def print_evaluation(pipeline_or_model, X_train, X_test, y_train, y_test, y_train_pred, y_test_pred, feature_names):
    """ Ausgabe von R2-Wert, MSE und MAE fÃ¼r Trainings- und Testset """
    # r2_train = r2_score(y_train, y_train_pred)
    # mse_train = mean_squared_error(y_train, y_train_pred)
    # mae_train = mean_absolute_error(y_train, y_train_pred)

    accurary_train = accuracy_score(y_train, y_train_pred)
    recall_train = recall_score(y_train, y_train_pred)
    precision_train = precision_score(y_train, y_train_pred)

    # r2_test = r2_score(y_test, y_test_pred)
    # mse_test = mean_squared_error(y_test, y_test_pred)
    # mae_test = mean_absolute_error(y_test, y_test_pred)

    accurary_test = accuracy_score(y_test, y_test_pred)
    recall_test = recall_score(y_test, y_test_pred)
    precision_test = precision_score(y_test, y_test_pred)
    
    print(
        f"{pipeline_or_model} Evaluation:\n"
        f"{'':6} {'ACC':>10} | {'REC':>14} | {'PRE':>10} | {'rows':>8} | {'columns':>8}\n"
        f"{'Train':6} {accurary_train:10.5f} | {recall_train:14.5f} | {precision_train:10.5f} | {X_train.shape[0]:8} | {X_train.shape[1]:8}\n"
        f"{'Test':6} {accurary_test:10.5f} | {recall_test:14.5f} | {precision_test:10.5f} | {X_test.shape[0]:8} | {X_test.shape[1]:8}\n"
    )

In [80]:
X = pd.get_dummies(df,columns=["user_title","user_state","markdown","age",'item_color', 'item_size'],dummy_na=True)
y = df['return']
#X = pd.get_dummies(df[["item_id", "item_color",	"brand_id",	"item_price",	"user_id",	"user_title",	"user_state",	"markdown", "age","acc_age", "item_size" ]])
X.drop(columns=['order_item_id','order_date', 'delivery_date', 'user_dob', 'user_reg_date', 'return', 'order_id'], inplace=True)
X

,item_id,brand_id,item_price,user_id,acc_age,maxprice,order_size,nth_order_of_user,item_id_>1_in_order,item_id_ordered_previously,...,item_size_90,item_size_l,item_size_m,item_size_s,item_size_unsized,item_size_xl,item_size_xs,item_size_xxl,item_size_xxxl,item_size_nan
0,643,30,49.90,30822,-1,49.90,1,1,False,False,...,0,0,0,0,0,0,0,0,0,0
1,100,43,69.90,30931,491,69.90,12,1,True,False,...,0,0,0,0,0,0,0,0,0,0
2,523,3,7.90,30929,491,12.90,10,1,True,False,...,0,0,0,0,0,1,0,0,0,0
3,523,3,7.90,30929,491,12.90,10,1,True,False,...,0,0,0,0,0,1,0,0,0,0
4,173,20,19.90,18912,491,49.90,8,1,False,False,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66105,1749,43,99.90,4466,550,99.90,6,3,False,False,...,0,0,0,0,0,0,0,0,0,0
66106,1485,42,149.90,30564,59,149.90,18,2,True,False,...,0,1,0,0,0,0,0,0,0,0
66107,1470,3,39.90,43724,550,39.90,10,1,False,False,...,0,1,0,0,0,0,0,0,0,0
66108,608,15,32.95,36953,35,32.95,2,2,False,True,...,0,0,0,0,0,0,0,0,0,0
66109,1784,41,19.90,43801,-1,19.90,13,1,True,False,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
##### WITH SIZES

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

rf = RandomForestClassifier()
rf.fit(X=X_train, y=y_train)


parameters = {"n_estimators": [100, 150, 200, 300], "max_depth": [20, 30, 40], 'max_features': [25, 40, 50], 'bootstrap': [True, False], 'oob_score': [False, True], 'ccp_alpha': [0, 0.005, 0.01], 'criterion': ['gini', 'entropy']}
rf_gscv = GridSearchCV(rf, parameters, cv=5,n_jobs=-1,verbose=3)
rf_gscv.fit(X_train, y_train)

y_train_pred_cv = rf_gscv.predict(X_train)
y_test_pred_cv = rf_gscv.predict(X_test)
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

rf = RandomForestClassifier(ccp_alpha = 0, n_estimators=400, criterion='entropy', max_depth=30, max_features=35)
rf.fit(X=X_train, y=y_train)

y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

print("-"*100)
print_evaluation(rf, X_train, X_test, y_train, y_test, y_train_pred, y_test_pred, feature_names=X.columns)
print("-"*100)

----------------------------------------------------------------------------------------------------
RandomForestClassifier(ccp_alpha=0, criterion='entropy', max_depth=30,
                       max_features=35, n_estimators=400) Evaluation:
              ACC |            REC |        PRE |     rows |  columns
Train     0.99663 |        0.99869 |    0.99468 |    52888 |      220
Test      0.63992 |        0.65252 |    0.63877 |    13222 |      220

----------------------------------------------------------------------------------------------------

In [68]:
### WITHOUT SIZES

X = pd.get_dummies(df,columns=["user_title","user_state","markdown","age",'item_color'],dummy_na=True)
y = df['return']
X.drop(columns=['order_item_id','order_date', 'delivery_date', 'user_dob', 'user_reg_date', 'return', 'item_size'], inplace=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

rf = RandomForestClassifier()
rf.fit(X=X_train, y=y_train)

# parameters = {"max_depth": [10, 20, 30, 50], 'max_features': ["sqrt",25, 40, 50], 'bootstrap': [True, False], 'oob_score': [False, True], 'ccp_alpha': [0, 0.005, 0.01]}
# parameters = {"max_depth": [20, 50], 'max_features': ["sqrt",25, 40, 50],'ccp_alpha': [0, 0.005, 0.01]}
rf_gscv = GridSearchCV(rf, parameters, cv=5,n_jobs=-1,verbose=3)
rf_gscv.fit(X_train, y_train)

y_train_pred_cv = rf_gscv.predict(X_train)
y_test_pred_cv = rf_gscv.predict(X_test)
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

print("-"*100)
print(rf_gscv.best_estimator_)
print_evaluation(rf_gscv, X_train, X_test, y_train, y_test, y_train_pred_cv, y_test_pred_cv, feature_names=X.columns)
print("-"*100)
print(rf.get_params())
print_evaluation(rf, X_train, X_test, y_train, y_test, y_train_pred, y_test_pred, feature_names=X.columns)
print(rf_gscv.cv_results_['mean_test_score'])
print(rf_gscv.cv_results_['params'])

Fitting 5 folds for each of 864 candidates, totalling 4320 fits

c:\Users\t-ehm\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
1080 fits failed out of a total of 4320.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1080 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\t-ehm\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\t-ehm\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\ensemble\_forest.py", line 437, in fit
    raise ValueError("Out of bag estimation only available if bootstrap=True")
ValueError: Out of bag estimation only available if bootstrap=True

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\t-ehm\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [0.60405002 0.60268863 0.60418238 0.6036908  0.60382314 0.60550592
 0.60422027 0.60480632 0.60223489 0.60170544 0.60289664 0.6041256
 0.60510886 0.60408786 0.60550595 0.6051089  0.6043714  0.6028399
 0.6042013  0.60508991 0.60456049 0.60465507 0.60626224 0.60488196
 0.59920957 0.60068435 0.60231051 0.60344497 0.60225373 0.60301014
 0.60342598 0.6034828  0.60161086 0.60117602 0.6008924  0.60119486
 0.60024959 0.60185676 0.6022727  0.60308571 0.59917185 0.60144075
 0.60185673 0.6001551  0.59956878 0.60049533 0.60232942 0.60285876
 0.59856681 0.59892607 0.6005709  0.6005521  0.60261299 0.60024959
 0.60310464 0.60340712 0.59784824 0.59907717 0.59928523 0.59964446
 0.60147854 0.60253738 0.60183788 0.60113822 0.5976402  0.60034408
 0.59928522 0.59979574 0.60064664 0.5994176  0.60280214 0.60034413
 0.60215923 0.60467397 0.60323698 0.60635679 0.60535467 0.60431473
 0.6052223  0.60544926 0.60293443 0.6050711  0.60597858 0.60582742
 0.607132   0.60571391 0.6061488  0.60626225 0.6044093  0.60274535
 0.6072644  0.60386093 0.60469286 0.60614877 0.60541144 0.60471182
 0.60119494 0.6000983  0.60117604 0.60161085 0.60289668 0.60308574
 0.60291552 0.60467403 0.60096807 0.59801836 0.60308578 0.60272647
 0.60302903 0.60202684 0.60261304 0.60471184 0.59826422 0.59970126
 0.60214033 0.60208356 0.6044092  0.60076007 0.60302898 0.60323698
 0.60060887 0.5974324  0.60087354 0.60401217 0.60240497 0.60259405
 0.60335049 0.6030669  0.59945536 0.60028738 0.60045753 0.60189455
 0.60077894 0.60164872 0.60276426 0.60028731 0.60110031 0.59830198
 0.60255627 0.6010248  0.60083569 0.60248068 0.602632   0.60123278
 0.56897595 0.56895704 0.5691272  0.56907047 0.56903267 0.56899485
 0.56920283 0.56899485 0.5691272  0.56920283 0.56958097 0.56907048
 0.56914611 0.56908939 0.56950535 0.56908939 0.56933518 0.56905157
 0.56908939 0.56908939 0.56958097 0.56952425 0.56914611 0.56914611
 0.56948644 0.56918393 0.56907048 0.56916502 0.56922174 0.56893813
 0.56901376 0.56907048 0.56914611 0.56916502 0.56941081 0.56899485
 0.56942972 0.56916502 0.5691272  0.56908939 0.56954316 0.56895704
 0.5691272  0.56933518 0.56952425 0.56925955 0.56931627 0.56916502
 0.56920283 0.56954316 0.56907048 0.56929737 0.56924065 0.56914611
 0.56958097 0.56903267 0.56922174 0.56956207 0.56908939 0.5691083
 0.56916502 0.56905157 0.5691083  0.56922174 0.5693919  0.56914611
 0.56950535 0.5691272  0.56905157 0.56961879 0.56908939 0.56925955
 0.56895704 0.5693541  0.56918393 0.56944864 0.56916502 0.56893813
 0.56918393 0.56901376 0.56912721 0.56922174 0.56918393 0.56916502
 0.56905157 0.56908939 0.56929737 0.56924065 0.56924065 0.56927845
 0.56916502 0.56914611 0.56905157 0.56958097 0.56914611 0.56908938
 0.5691083  0.56931628 0.56916502 0.56927846 0.56901376 0.56918394
 0.56910829 0.5693541  0.56925955 0.56922174 0.56971333 0.56944864
 0.56924065 0.56908939 0.56935409 0.56924065 0.56950535 0.5691272
 0.56914611 0.56920283 0.56908939 0.56914611 0.56916502 0.56929737
 0.56965662 0.56908939 0.56910829 0.56944863 0.56935409 0.56918393
 0.56897594 0.56950535 0.56908939 0.56920283 0.56916501 0.56908938
 0.56925955 0.56922174 0.56897595 0.56942972 0.56950535 0.56916502
 0.56925955 0.5691272  0.56925955 0.56931628 0.56908939 0.56967552
 0.56925955 0.56918393 0.56954316 0.56914611 0.56954316 0.56950534
 0.56956207 0.56918392 0.56907048 0.56929737 0.56958097 0.56944862
 0.56895704 0.5689192  0.56916502 0.56952425 0.5691083  0.56914611
 0.5691083  0.56916502 0.56914611 0.56916502 0.56929737 0.56916502
 0.5691272  0.56944862 0.56969442 0.56952425 0.56903267 0.56958097
 0.56908939 0.56925955 0.56916502 0.56901376 0.56959988 0.56927846
 0.5691272  0.56914611 0.56903267 0.56895704 0.5691272  0.56908939
 0.56914611 0.5691083  0.56931627 0.56916502 0.56916502 0.56948644
 0.56971332 0.56971332 0.56958097 0.5691272  0.56954316 0.56905157
 0.56908939 0.56958098 0.56901376 0.56916502 0.56958097 0.56920283
 0.56895704 0.5691272  0.56907048 0.56914611 0.56910829 0.56935409
 0.56903267 0.56914611 0.56914611 0.56929737 0.56916502 0.56918392
 0.56914611 0.56914611 0.56914611 0.56914611 0.56914611 0.56914611
 0.56958097 0.56914611 0.56914611 0.56916502 0.56914611 0.56916502
 0.56916502 0.56907048 0.56954316 0.56908939 0.56901376 0.56925955
 0.56914611 0.56914611 0.56958097 0.56914611 0.56916502 0.56916502
 0.5686545  0.56954316 0.56924065 0.56914611 0.56907048 0.56950535
 0.5691272  0.56956207 0.56886248 0.56956207 0.56941081 0.56959988
 0.5691083  0.56954316 0.56907048 0.56908939 0.56950535 0.56931625
 0.56931627 0.56944862 0.56959988 0.56907048 0.56916502 0.56916502
 0.56944862 0.56941081 0.56908939 0.56895704 0.56914611 0.56916502
 0.5691083  0.569373   0.5691272  0.56914611 0.56895704 0.56948644
 0.5691083  0.56958097 0.56956207 0.56948644 0.5691083  0.56914611
 0.56954316 0.56901376 0.56918392 0.56914611 0.5691272  0.5691272
 0.60164871        nan 0.60369081        nan 0.60214038        nan
 0.6046173         nan 0.60057096        nan 0.60157318        nan
 0.60212148        nan 0.60244291        nan 0.59951219        nan
 0.60208367        nan 0.60149749        nan 0.60074124        nan
 0.59720542        nan 0.59745126        nan 0.6000038         nan
 0.59860457        nan 0.59620329        nan 0.59682729        nan
 0.5959953         nan 0.5961655         nan 0.59497426        nan
 0.59550376        nan 0.59599528        nan 0.59542803        nan
 0.59550373        nan 0.59684616        nan 0.59832103        nan
 0.59777268        nan 0.59644915        nan 0.59692175        nan
 0.59656248        nan 0.59612768        nan 0.59378297        nan
 0.59486089        nan 0.59484189        nan 0.59465281        nan
 0.60299112        nan 0.60397448        nan 0.60439036        nan
 0.60452275        nan 0.60297231        nan 0.60353966        nan
 0.60391772        nan 0.60302905        nan 0.60142192        nan
 0.60023071        nan 0.60244297        nan 0.60405005        nan
 0.59801854        nan 0.5987937         nan 0.59892604        nan
 0.59973908        nan 0.5969218         nan 0.59911516        nan
 0.59888825        nan 0.59881264        nan 0.59597641        nan
 0.59533349        nan 0.59747015        nan 0.59796169        nan
 0.59650579        nan 0.59796178        nan 0.59792393        nan
 0.59858575        nan 0.59607086        nan 0.59720544        nan
 0.59701634        nan 0.59703529        nan 0.59416121        nan
 0.59444485        nan 0.59539023        nan 0.59648682        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56908939        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.5688625         nan 0.56897595        nan 0.56903267        nan
 0.56899485        nan 0.56897595        nan 0.56897595        nan
 0.56899485        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56901376        nan 0.56897595        nan
 0.56897595        nan 0.56899485        nan 0.56897595        nan
 0.56922174        nan 0.56890032        nan 0.56897595        nan
 0.56897595        nan 0.569373          nan 0.56897595        nan
 0.56897595        nan 0.56946753        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56878687        nan
 0.56901376        nan 0.56914611        nan 0.56899485        nan
 0.56876797        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56880578        nan 0.56873013        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56918392        nan 0.56897595        nan
 0.56897595        nan 0.56833304        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56876797        nan 0.56897595        nan
 0.56880578        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56876797        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56876797        nan 0.56918392        nan
 0.56880578        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56876797        nan 0.56918392        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56918392        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56880578        nan
 0.56897595        nan 0.56880578        nan 0.56897595        nan]
  warnings.warn(

----------------------------------------------------------------------------------------------------
RandomForestClassifier(ccp_alpha=0, criterion='entropy', max_depth=20,
                       max_features=50, n_estimators=150)
GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'ccp_alpha': [0, 0.005, 0.01],
                         'criterion': ['gini', 'entropy'],
                         'max_depth': [20, 30, 40],
                         'max_features': [25, 40, 50],
                         'n_estimators': [100, 150, 200, 300],
                         'oob_score': [False, True]},
             verbose=3) Evaluation:
              ACC |            REC |        PRE |     rows |  columns
Train     0.95619 |        0.97642 |    0.93926 |    52888 |      119
Test      0.61443 |        0.68439 |    0.60552 |    13222 |      119

----------------------------------------------------------------------------------------------------
{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': 'sqrt', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}
RandomForestClassifier() Evaluation:
              ACC |            REC |        PRE |     rows |  columns
Train     1.00000 |        1.00000 |    1.00000 |    52888 |      119
Test      0.60490 |        0.63002 |    0.60560 |    13222 |      119

[0.60405002 0.60268863 0.60418238 0.6036908  0.60382314 0.60550592
 0.60422027 0.60480632 0.60223489 0.60170544 0.60289664 0.6041256
 0.60510886 0.60408786 0.60550595 0.6051089  0.6043714  0.6028399
 0.6042013  0.60508991 0.60456049 0.60465507 0.60626224 0.60488196
 0.59920957 0.60068435 0.60231051 0.60344497 0.60225373 0.60301014
 0.60342598 0.6034828  0.60161086 0.60117602 0.6008924  0.60119486
 0.60024959 0.60185676 0.6022727  0.60308571 0.59917185 0.60144075
 0.60185673 0.6001551  0.59956878 0.60049533 0.60232942 0.60285876
 0.59856681 0.59892607 0.6005709  0.6005521  0.60261299 0.60024959
 0.60310464 0.60340712 0.59784824 0.59907717 0.59928523 0.59964446
 0.60147854 0.60253738 0.60183788 0.60113822 0.5976402  0.60034408
 0.59928522 0.59979574 0.60064664 0.5994176  0.60280214 0.60034413
 0.60215923 0.60467397 0.60323698 0.60635679 0.60535467 0.60431473
 0.6052223  0.60544926 0.60293443 0.6050711  0.60597858 0.60582742
 0.607132   0.60571391 0.6061488  0.60626225 0.6044093  0.60274535
 0.6072644  0.60386093 0.60469286 0.60614877 0.60541144 0.60471182
 0.60119494 0.6000983  0.60117604 0.60161085 0.60289668 0.60308574
 0.60291552 0.60467403 0.60096807 0.59801836 0.60308578 0.60272647
 0.60302903 0.60202684 0.60261304 0.60471184 0.59826422 0.59970126
 0.60214033 0.60208356 0.6044092  0.60076007 0.60302898 0.60323698
 0.60060887 0.5974324  0.60087354 0.60401217 0.60240497 0.60259405
 0.60335049 0.6030669  0.59945536 0.60028738 0.60045753 0.60189455
 0.60077894 0.60164872 0.60276426 0.60028731 0.60110031 0.59830198
 0.60255627 0.6010248  0.60083569 0.60248068 0.602632   0.60123278
 0.56897595 0.56895704 0.5691272  0.56907047 0.56903267 0.56899485
 0.56920283 0.56899485 0.5691272  0.56920283 0.56958097 0.56907048
 0.56914611 0.56908939 0.56950535 0.56908939 0.56933518 0.56905157
 0.56908939 0.56908939 0.56958097 0.56952425 0.56914611 0.56914611
 0.56948644 0.56918393 0.56907048 0.56916502 0.56922174 0.56893813
 0.56901376 0.56907048 0.56914611 0.56916502 0.56941081 0.56899485
 0.56942972 0.56916502 0.5691272  0.56908939 0.56954316 0.56895704
 0.5691272  0.56933518 0.56952425 0.56925955 0.56931627 0.56916502
 0.56920283 0.56954316 0.56907048 0.56929737 0.56924065 0.56914611
 0.56958097 0.56903267 0.56922174 0.56956207 0.56908939 0.5691083
 0.56916502 0.56905157 0.5691083  0.56922174 0.5693919  0.56914611
 0.56950535 0.5691272  0.56905157 0.56961879 0.56908939 0.56925955
 0.56895704 0.5693541  0.56918393 0.56944864 0.56916502 0.56893813
 0.56918393 0.56901376 0.56912721 0.56922174 0.56918393 0.56916502
 0.56905157 0.56908939 0.56929737 0.56924065 0.56924065 0.56927845
 0.56916502 0.56914611 0.56905157 0.56958097 0.56914611 0.56908938
 0.5691083  0.56931628 0.56916502 0.56927846 0.56901376 0.56918394
 0.56910829 0.5693541  0.56925955 0.56922174 0.56971333 0.56944864
 0.56924065 0.56908939 0.56935409 0.56924065 0.56950535 0.5691272
 0.56914611 0.56920283 0.56908939 0.56914611 0.56916502 0.56929737
 0.56965662 0.56908939 0.56910829 0.56944863 0.56935409 0.56918393
 0.56897594 0.56950535 0.56908939 0.56920283 0.56916501 0.56908938
 0.56925955 0.56922174 0.56897595 0.56942972 0.56950535 0.56916502
 0.56925955 0.5691272  0.56925955 0.56931628 0.56908939 0.56967552
 0.56925955 0.56918393 0.56954316 0.56914611 0.56954316 0.56950534
 0.56956207 0.56918392 0.56907048 0.56929737 0.56958097 0.56944862
 0.56895704 0.5689192  0.56916502 0.56952425 0.5691083  0.56914611
 0.5691083  0.56916502 0.56914611 0.56916502 0.56929737 0.56916502
 0.5691272  0.56944862 0.56969442 0.56952425 0.56903267 0.56958097
 0.56908939 0.56925955 0.56916502 0.56901376 0.56959988 0.56927846
 0.5691272  0.56914611 0.56903267 0.56895704 0.5691272  0.56908939
 0.56914611 0.5691083  0.56931627 0.56916502 0.56916502 0.56948644
 0.56971332 0.56971332 0.56958097 0.5691272  0.56954316 0.56905157
 0.56908939 0.56958098 0.56901376 0.56916502 0.56958097 0.56920283
 0.56895704 0.5691272  0.56907048 0.56914611 0.56910829 0.56935409
 0.56903267 0.56914611 0.56914611 0.56929737 0.56916502 0.56918392
 0.56914611 0.56914611 0.56914611 0.56914611 0.56914611 0.56914611
 0.56958097 0.56914611 0.56914611 0.56916502 0.56914611 0.56916502
 0.56916502 0.56907048 0.56954316 0.56908939 0.56901376 0.56925955
 0.56914611 0.56914611 0.56958097 0.56914611 0.56916502 0.56916502
 0.5686545  0.56954316 0.56924065 0.56914611 0.56907048 0.56950535
 0.5691272  0.56956207 0.56886248 0.56956207 0.56941081 0.56959988
 0.5691083  0.56954316 0.56907048 0.56908939 0.56950535 0.56931625
 0.56931627 0.56944862 0.56959988 0.56907048 0.56916502 0.56916502
 0.56944862 0.56941081 0.56908939 0.56895704 0.56914611 0.56916502
 0.5691083  0.569373   0.5691272  0.56914611 0.56895704 0.56948644
 0.5691083  0.56958097 0.56956207 0.56948644 0.5691083  0.56914611
 0.56954316 0.56901376 0.56918392 0.56914611 0.5691272  0.5691272
 0.60164871        nan 0.60369081        nan 0.60214038        nan
 0.6046173         nan 0.60057096        nan 0.60157318        nan
 0.60212148        nan 0.60244291        nan 0.59951219        nan
 0.60208367        nan 0.60149749        nan 0.60074124        nan
 0.59720542        nan 0.59745126        nan 0.6000038         nan
 0.59860457        nan 0.59620329        nan 0.59682729        nan
 0.5959953         nan 0.5961655         nan 0.59497426        nan
 0.59550376        nan 0.59599528        nan 0.59542803        nan
 0.59550373        nan 0.59684616        nan 0.59832103        nan
 0.59777268        nan 0.59644915        nan 0.59692175        nan
 0.59656248        nan 0.59612768        nan 0.59378297        nan
 0.59486089        nan 0.59484189        nan 0.59465281        nan
 0.60299112        nan 0.60397448        nan 0.60439036        nan
 0.60452275        nan 0.60297231        nan 0.60353966        nan
 0.60391772        nan 0.60302905        nan 0.60142192        nan
 0.60023071        nan 0.60244297        nan 0.60405005        nan
 0.59801854        nan 0.5987937         nan 0.59892604        nan
 0.59973908        nan 0.5969218         nan 0.59911516        nan
 0.59888825        nan 0.59881264        nan 0.59597641        nan
 0.59533349        nan 0.59747015        nan 0.59796169        nan
 0.59650579        nan 0.59796178        nan 0.59792393        nan
 0.59858575        nan 0.59607086        nan 0.59720544        nan
 0.59701634        nan 0.59703529        nan 0.59416121        nan
 0.59444485        nan 0.59539023        nan 0.59648682        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56908939        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.5688625         nan 0.56897595        nan 0.56903267        nan
 0.56899485        nan 0.56897595        nan 0.56897595        nan
 0.56899485        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56901376        nan 0.56897595        nan
 0.56897595        nan 0.56899485        nan 0.56897595        nan
 0.56922174        nan 0.56890032        nan 0.56897595        nan
 0.56897595        nan 0.569373          nan 0.56897595        nan
 0.56897595        nan 0.56946753        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56878687        nan
 0.56901376        nan 0.56914611        nan 0.56899485        nan
 0.56876797        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56880578        nan 0.56873013        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56918392        nan 0.56897595        nan
 0.56897595        nan 0.56833304        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56876797        nan 0.56897595        nan
 0.56880578        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56876797        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56876797        nan 0.56918392        nan
 0.56880578        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56918392        nan
 0.56897595        nan 0.56876797        nan 0.56918392        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56918392        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56897595        nan
 0.56897595        nan 0.56897595        nan 0.56880578        nan
 0.56897595        nan 0.56880578        nan 0.56897595        nan]

In [34]:
order_id_generator = df.groupby(['user_id', 'order_date']).size().reset_index(name='order_size')
order_id_generator['order_id'] = order_id_generator.index
order_id_generator

       user_id order_date  order_size  order_id
0            9 2016-08-01           3         0
1            9 2016-08-10           2         1
2           11 2016-07-02           1         2
3           24 2016-07-03           1         3
4           30 2016-08-13           2         4
...        ...        ...         ...       ...
19378    43796 2016-08-20           2     19378
19379    43797 2016-08-20           7     19379
19380    43798 2016-08-20           3     19380
19381    43799 2016-08-20           2     19381
19382    43801 2016-08-20          13     19382

[19383 rows x 4 columns]

In [35]:
df = pd.merge(df,order_id_generator,on=['user_id', 'order_date'], how='left')
df.head()

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
0,1,2016-06-22,2016-06-27,643,38,navy,30,49.9,30822,Mrs,...,2016-06-23,0,"(40, 50]",-1,49.9,0,1,1,1,9485
1,763,2016-06-24,2016-06-26,643,38,navy,30,49.9,29306,Mrs,...,2016-06-17,0,"(40, 50]",7,49.9,0,1,1,1,8978
2,3,2016-06-22,2016-06-27,270,xxl,grey,49,79.9,30823,Mrs,...,2015-03-15,1,"(40, 50]",465,79.9,0,1,1,9,9487
3,522,2016-06-23,2016-06-26,270,xxl,grey,49,79.9,11260,Mrs,...,2015-04-24,0,"(60, 70]",426,79.9,0,1,1,9,3653
4,25884,2016-07-03,2016-07-04,270,xxl,grey,49,79.9,1283,Mrs,...,2015-09-15,1,"(40, 50]",292,79.9,0,1,1,3,455

In [36]:
df_user_agg = df.groupby('user_id', as_index = False).size()
df_user_agg
df_user_agg[df_user_agg['size'] > 1]
df_reduced = df[df.user_id < 100].sort_values('order_date')
df_reduced.groupby('user_id').apply(display)

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
56373,47259,2016-08-01,2016-08-02,2081,40,black,40,219.9,9,Mrs,...,2016-03-02,1,"(40, 50]",152,219.9,0,1,1,3,0
56376,47261,2016-08-01,2016-08-24,1613,40,ancient,1,199.9,9,Mrs,...,2016-03-02,1,"(40, 50]",152,199.9,0,4,3,3,0
56375,47260,2016-08-01,2016-08-02,1922,40,grey,26,159.9,9,Mrs,...,2016-03-02,1,"(40, 50]",152,159.9,0,3,2,3,0
59507,62930,2016-08-10,2016-08-14,1613,40,black,1,199.9,9,Mrs,...,2016-03-02,0,"(40, 50]",161,199.9,0,5,2,2,1
56374,62931,2016-08-10,2016-08-14,2081,40,black,40,219.9,9,Mrs,...,2016-03-02,1,"(40, 50]",161,219.9,0,2,1,2,1

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
36400,24204,2016-07-02,2016-07-03,966,37,turquoise,69,44.9,11,Mrs,...,2015-02-17,0,"(40, 50]",501,44.9,0,1,1,1,2

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
17280,26128,2016-07-03,2016-07-04,103,41,grey,17,69.9,24,Mrs,...,2016-03-04,0,"(50, 60]",121,99.9,1,1,1,1,3

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
59091,67311,2016-08-13,2016-08-15,1658,l,black,90,189.9,30,Mrs,...,2016-01-22,1,"(60, 70]",204,189.9,0,2,2,2,4
55521,67312,2016-08-13,2016-08-15,1658,m,black,90,189.9,30,Mrs,...,2016-01-22,0,"(60, 70]",204,189.9,0,1,1,2,4

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
51098,65060,2016-08-11,2016-08-14,1617,40,green,6,69.9,40,Mrs,...,2015-02-17,0,"(50, 60]",541,69.9,0,1,1,2,5
61577,65059,2016-08-11,2016-08-14,1559,42,black,1,159.9,40,Mrs,...,2015-02-17,0,"(50, 60]",541,159.9,0,2,2,2,5

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
12371,54803,2016-08-05,2016-08-10,214,xl,ash,49,44.9,48,Mrs,...,2016-01-23,1,"(40, 50]",195,89.9,1,1,1,4,6
43901,54802,2016-08-05,2016-08-10,1547,xl,red,37,39.9,48,Mrs,...,2016-01-23,1,"(40, 50]",195,39.9,0,3,3,4,6
49213,54800,2016-08-05,2016-08-10,1496,xl,denim,2,49.9,48,Mrs,...,2016-01-23,0,"(40, 50]",195,49.9,0,4,4,4,6
37926,54801,2016-08-05,2016-08-10,546,xl,grey,3,59.9,48,Mrs,...,2016-01-23,1,"(40, 50]",195,59.9,0,2,2,4,6

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
3820,16932,2016-06-29,2016-07-03,533,m,ocher,74,24.9,55,Mrs,...,2016-03-20,1,"(50, 60]",101,29.9,1,1,1,2,7
3826,16931,2016-06-29,2016-07-03,358,m,grey,74,29.9,55,Mrs,...,2016-03-20,0,"(50, 60]",101,39.9,1,2,2,2,7
54563,58094,2016-08-07,2016-08-23,1788,l,green,20,119.9,55,Mrs,...,2016-03-20,0,"(50, 60]",140,119.9,0,10,8,10,8
41875,58095,2016-08-07,2016-10-03,1550,l,berry,117,129.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,129.9,0,6,4,10,8
63150,58090,2016-08-07,2016-08-08,1773,unsized,green,75,29.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,29.9,0,11,9,10,8
63165,58086,2016-08-07,2016-08-08,1514,l,brown,42,69.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,69.9,0,12,10,10,8
49861,58093,2016-08-07,2016-08-08,1505,unsized,berry,102,49.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,49.9,0,8,6,10,8
51134,58087,2016-08-07,2016-08-08,1960,unsized,green,127,49.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,49.9,0,9,7,10,8
41472,58091,2016-08-07,2016-08-08,1515,unsized,brown,42,29.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,29.9,0,5,3,10,8
41378,58089,2016-08-07,2016-08-08,1507,unsized,petrol,102,24.9,55,Mrs,...,2016-03-20,0,"(50, 60]",140,24.9,0,4,2,10,8
41279,58088,2016-08-07,2016-08-08,1505,unsized,petrol,102,49.9,55,Mrs,...,2016-03-20,0,"(50, 60]",140,49.9,0,3,1,10,8
49811,58092,2016-08-07,2016-08-08,1507,unsized,berry,102,24.9,55,Mrs,...,2016-03-20,1,"(50, 60]",140,24.9,0,7,5,10,8

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
51517,69932,2016-08-15,2016-08-16,1532,m,mahagoni,37,26.9,56,Mrs,...,2016-05-25,0,"(50, 60]",82,26.9,0,3,3,3,9
49530,69933,2016-08-15,2016-10-18,1546,l,green,3,29.9,56,Mrs,...,2016-05-25,0,"(50, 60]",82,29.9,0,1,1,3,9
50029,69931,2016-08-15,2016-08-16,1532,m,aquamarine,37,26.9,56,Mrs,...,2016-05-25,0,"(50, 60]",82,29.9,1,2,2,3,9

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
28248,15239,2016-06-29,2016-07-02,431,39,silver,51,34.90,60,Mrs,...,2015-10-18,1,"(40, 50]",255,34.90,0,8,7,8,10
18833,15237,2016-06-29,2016-07-02,52,42,white,18,64.90,60,Mrs,...,2015-10-18,0,"(40, 50]",255,79.90,1,5,4,8,10
24485,15241,2016-06-29,2016-07-02,615,152,purple,30,34.90,60,Mrs,...,2015-10-18,1,"(40, 50]",255,69.95,1,7,6,8,10
22384,15243,2016-06-29,2016-07-19,392,xl,brown,35,114.90,60,Mrs,...,2015-10-18,0,"(40, 50]",255,114.90,0,6,5,8,10
31055,15240,2016-06-29,2016-07-02,431,33,blue,51,34.90,60,Mrs,...,2015-10-18,1,"(40, 50]",255,34.90,0,9,8,8,10
15194,15238,2016-06-29,2016-07-02,242,xl,white,20,59.90,60,Mrs,...,2015-10-18,1,"(40, 50]",255,119.90,1,3,3,8,10
9714,15236,2016-06-29,2016-07-02,895,44,blue,39,39.95,60,Mrs,...,2015-10-18,1,"(40, 50]",255,39.95,0,2,2,8,10
6986,15242,2016-06-29,2016-07-02,54,xl,grey,30,16.40,60,Mrs,...,2015-10-18,1,"(40, 50]",255,32.95,1,1,1,8,10
15226,26211,2016-07-03,2016-07-04,242,xl,white,20,59.90,60,Mrs,...,2015-10-18,1,"(40, 50]",259,119.90,1,4,1,1,11
55478,46056,2016-07-30,2016-09-06,1895,11,black,21,99.95,60,Mrs,...,2015-10-18,0,"(40, 50]",286,99.95,0,10,1,1,12

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
4021,26024,2016-07-03,2016-07-04,57,l,petrol,3,39.9,66,Mrs,...,2016-02-19,0,"(50, 60]",135,39.9,0,2,2,2,13
4007,26023,2016-07-03,2016-07-04,98,l,green,28,44.9,66,Mrs,...,2016-02-19,0,"(50, 60]",135,89.9,1,1,1,2,13
55408,70496,2016-08-15,2016-10-09,1670,39,petrol,1,199.9,66,Mrs,...,2016-02-19,0,"(50, 60]",178,199.9,0,10,8,11,14
55045,70497,2016-08-15,2016-11-14,1617,42,green,6,69.9,66,Mrs,...,2016-02-19,0,"(50, 60]",178,69.9,0,9,7,11,14
54988,70494,2016-08-15,2016-08-20,1499,l,turquoise,42,99.9,66,Mrs,...,2016-02-19,0,"(50, 60]",178,99.9,0,8,6,11,14
59610,70490,2016-08-15,2016-08-20,1415,l,aquamarine,3,21.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,24.9,1,13,11,11,14
48268,70491,2016-08-15,2016-08-20,1415,l,green,3,21.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,24.9,1,7,5,11,14
48084,70493,2016-08-15,2016-08-20,1687,l,petrol,3,39.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,39.9,0,6,4,11,14
47483,70489,2016-08-15,2016-08-20,1755,l,blue,73,79.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,79.9,0,5,3,11,14
57154,70487,2016-08-15,2016-08-20,1485,l,turquoise,42,149.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,149.9,0,11,9,11,14
43600,70492,2016-08-15,2016-08-20,1478,l,blue,73,99.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,99.9,0,4,2,11,14
57182,70488,2016-08-15,2016-08-20,1468,l,blue,3,59.9,66,Mrs,...,2016-02-19,1,"(50, 60]",178,59.9,0,12,10,11,14
42712,70495,2016-08-15,2016-08-30,1630,l,petrol,37,49.9,66,Mrs,...,2016-02-19,0,"(50, 60]",178,49.9,0,3,1,11,14

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
21232,5825,2016-06-27,2016-06-28,128,xl,red,49,39.9,72,Mrs,...,2015-02-17,1,"(60, 70]",496,39.9,0,2,1,1,15
18923,28523,2016-07-05,2016-07-06,128,xl,denim,49,39.9,72,Mrs,...,2015-02-17,0,"(60, 70]",504,39.9,0,1,1,1,16

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
60511,66981,2016-08-13,2016-08-22,1828,40,petrol,122,59.90,86,Mrs,...,2016-04-23,0,"(40, 50]",112,59.90,0,3,3,5,17
61510,66979,2016-08-13,2016-08-15,1526,xxl,grey,48,169.95,86,Mrs,...,2016-04-23,1,"(40, 50]",112,169.95,0,4,4,5,17
64478,66982,2016-08-13,2016-08-22,1828,40,red,122,59.90,86,Mrs,...,2016-04-23,1,"(40, 50]",112,59.90,0,5,5,5,17
42511,66983,2016-08-13,2016-09-17,1552,xxl,grey,49,199.90,86,Mrs,...,2016-04-23,1,"(40, 50]",112,199.90,0,1,1,5,17
44743,66980,2016-08-13,2016-08-15,1537,xxl,dark olive,35,299.95,86,Mrs,...,2016-04-23,1,"(40, 50]",112,299.95,0,2,2,5,17

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
29548,21201,2016-07-01,2016-07-23,557,38,pink,1,64.9,90,Mrs,...,2015-02-17,0,"(50, 60]",500,64.9,0,1,1,1,18

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
11030,12572,2016-06-28,2016-07-05,860,l,ocher,42,49.9,94,Mrs,...,2016-02-29,0,"(50, 60]",120,99.9,1,3,1,4,19
28906,12569,2016-06-28,2016-07-02,334,40,grey,72,49.9,94,Mrs,...,2016-02-29,0,"(50, 60]",120,49.9,0,5,2,4,19
28909,12570,2016-06-28,2016-07-02,415,41,green,1,44.9,94,Mrs,...,2016-02-29,1,"(50, 60]",120,69.9,1,6,3,4,19
28913,12571,2016-06-28,2016-07-02,119,41,blue,43,44.9,94,Mrs,...,2016-02-29,1,"(50, 60]",120,59.9,1,7,4,4,19
34733,20389,2016-06-30,2016-07-24,58,l,green,31,44.9,94,Mrs,...,2016-02-29,0,"(50, 60]",122,44.9,0,8,4,4,20
25131,20392,2016-06-30,2016-07-27,370,l,ocher,31,44.9,94,Mrs,...,2016-02-29,0,"(50, 60]",122,49.9,1,4,3,4,20
5440,20390,2016-06-30,2016-07-24,32,m,red,3,12.4,94,Mrs,...,2016-02-29,0,"(50, 60]",122,24.9,1,2,2,4,20
4002,20391,2016-06-30,2016-07-24,434,l,green,28,49.9,94,Mrs,...,2016-02-29,0,"(50, 60]",122,59.9,1,1,1,4,20
42696,38670,2016-07-20,2016-07-23,1630,l,petrol,37,49.9,94,Mrs,...,2016-02-29,1,"(50, 60]",142,49.9,0,15,7,8,21
42671,38666,2016-07-20,2016-07-23,1628,l,petrol,3,24.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,24.9,0,11,3,8,21
42686,38669,2016-07-20,2016-07-23,1629,unsized,anthracite,42,29.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,29.9,0,14,6,8,21
42683,38668,2016-07-20,2016-07-23,1409,m,pink,3,21.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,21.9,0,13,5,8,21
42679,38667,2016-07-20,2016-07-23,1409,m,petrol,3,21.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,21.9,0,12,4,8,21
42663,38665,2016-07-20,2016-07-23,1628,l,aubergine,3,24.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,24.9,0,10,2,8,21
42713,38671,2016-07-20,2016-08-23,1631,unsized,orange,20,39.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,39.9,0,16,8,8,21
36469,38664,2016-07-20,2016-07-23,288,41+,grey,40,79.9,94,Mrs,...,2016-02-29,0,"(50, 60]",142,79.9,0,9,1,8,21

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
30117,33973,2016-07-13,2016-07-16,367,43,blue,18,99.90,98,Mrs,...,2015-02-17,1,"(10, 20]",512,99.90,0,1,1,5,22
36364,33970,2016-07-13,2016-07-16,1333,33,purple,69,42.90,98,Mrs,...,2015-02-17,1,"(10, 20]",512,42.90,0,3,3,5,22
36712,33971,2016-07-13,2016-07-16,1373,34,red,69,39.90,98,Mrs,...,2015-02-17,0,"(10, 20]",512,39.90,0,4,4,5,22
38348,33974,2016-07-13,2016-07-16,375,44,brown,13,49.90,98,Mrs,...,2015-02-17,0,"(10, 20]",512,49.90,0,5,5,5,22
30570,33972,2016-07-13,2016-07-16,1332,35,red,69,44.90,98,Mrs,...,2015-02-17,1,"(10, 20]",512,44.90,0,2,2,5,22
65130,67269,2016-08-13,2016-08-20,2024,29,blue,51,69.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.90,0,18,13,15,23
65129,67268,2016-08-13,2016-08-20,2024,28,blue,51,69.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.90,0,17,12,15,23
65126,67264,2016-08-13,2016-08-20,2187,30,purple,51,79.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,79.90,0,15,10,15,23
61605,67263,2016-08-13,2016-08-14,2056,3,brown,21,69.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.95,0,8,3,15,23
65125,67262,2016-08-13,2016-08-14,2056,2,brown,21,69.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.95,0,14,9,15,23
63106,67266,2016-08-13,2016-08-20,2187,32,purple,51,79.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,79.90,0,9,4,15,23
65124,67260,2016-08-13,2016-08-14,1402,33,red,69,99.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,99.95,0,13,8,15,23
65123,67259,2016-08-13,2016-08-14,1402,32,red,69,99.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,99.95,0,12,7,15,23
65122,67258,2016-08-13,2016-08-14,1402,31,red,69,99.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,99.95,0,11,6,15,23
64364,67267,2016-08-13,2016-08-20,2024,27,blue,51,69.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.90,0,10,5,15,23
65127,67265,2016-08-13,2016-08-20,2187,31,purple,51,79.90,98,Mrs,...,2015-02-17,1,"(10, 20]",543,79.90,0,16,11,15,23
61602,67261,2016-08-13,2016-08-14,2056,1,brown,21,69.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.95,0,7,2,15,23
65131,67270,2016-08-13,2016-09-06,1665,1,grey,21,69.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.95,0,19,14,15,23
65132,67271,2016-08-13,2016-09-06,1665,13,grey,21,69.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,69.95,0,20,15,15,23
56158,67257,2016-08-13,2016-08-14,1402,30,red,69,99.95,98,Mrs,...,2015-02-17,1,"(10, 20]",543,99.95,0,6,1,15,23

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,...,user_reg_date,return,age,acc_age,maxprice,markdown,nth_order_of_user,nth_order_of_user_v2,order_size,order_id
14038,2837,2016-06-25,2016-06-26,502,10,green,21,45.90,99,Mrs,...,2016-03-31,0,"(40, 50]",86,45.90,0,4,3,3,24
14019,2836,2016-06-25,2016-06-26,128,l,ash,49,49.90,99,Mrs,...,2016-03-31,0,"(40, 50]",86,49.90,0,3,2,3,24
12288,2838,2016-06-25,2016-07-18,171,xl,black,3,24.90,99,Mrs,...,2016-03-31,0,"(40, 50]",86,24.90,0,2,1,3,24
23135,8999,2016-06-27,2016-07-02,128,l,grey,49,39.90,99,Mrs,...,2016-03-31,0,"(40, 50]",88,79.90,1,6,3,5,25
8300,9001,2016-06-27,2016-07-02,465,l,ash,49,29.90,99,Mrs,...,2016-03-31,0,"(40, 50]",88,59.90,1,1,1,5,25
25818,8998,2016-06-27,2016-07-02,263,m,green,5,34.90,99,Mrs,...,2016-03-31,0,"(40, 50]",88,39.90,1,7,4,5,25
25823,9000,2016-06-27,2016-07-02,128,m,ash,49,39.90,99,Mrs,...,2016-03-31,0,"(40, 50]",88,39.90,0,8,5,5,25
18567,9002,2016-06-27,2016-07-02,465,l,grey,49,29.90,99,Mrs,...,2016-03-31,0,"(40, 50]",88,59.90,1,5,2,5,25
56398,57348,2016-08-07,2016-08-09,2071,unsized,red,48,16.95,99,Mrs,...,2016-03-31,0,"(40, 50]",129,16.95,0,10,2,5,26
57924,57351,2016-08-07,2016-09-17,1802,xxl,navy,30,32.95,99,Mrs,...,2016-03-31,0,"(40, 50]",129,32.95,0,11,3,5,26
55885,57349,2016-08-07,2016-08-09,2071,unsized,blue,48,16.95,99,Mrs,...,2016-03-31,0,"(40, 50]",129,16.95,0,9,1,5,26
58184,57347,2016-08-07,2016-08-09,2086,xl,green,56,31.95,99,Mrs,...,2016-03-31,0,"(40, 50]",129,31.95,0,12,4,5,26
60115,57350,2016-08-07,2016-08-10,1517,42,ocher,6,69.90,99,Mrs,...,2016-03-31,0,"(40, 50]",129,69.90,0,13,5,5,26

Empty DataFrame
Columns: []
Index: []