In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("retouren.csv")

**1 Data Cleaning**

In [5]:
df.describe().round(1)

       order_item_id  item_id  brand_id  item_price  user_id   return
count        75007.0  75007.0   75007.0     75007.0  75007.0  75007.0
mean         37504.0    784.8      28.8        60.7  25740.2      0.5
std          21652.8    680.0      26.8        44.7  12947.2      0.5
min              1.0      1.0       1.0         0.0      9.0      0.0
25%          18752.5    176.0       5.0        29.9  14674.0      0.0
50%          37504.0    479.0      24.0        49.9  30486.0      0.0
75%          56255.5   1517.0      43.0        74.9  36479.0      1.0
max          75007.0   2224.0     137.0       999.0  43801.0      1.0

In [11]:
df[df.item_price == 0].item_id.unique()

array([ 157,   62,  312,  553,  807, 1014,  239, 1436, 1725, 1904, 1951,
       1472, 2025, 2103, 2121, 2199, 2213])