In [82]:
import pandas as pd
import numpy as np
import plotly.express as px 
import datetime

In [2]:
df = pd.read_csv("retouren.csv")

In [71]:
df

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return
0,1,2016-06-22,2016-06-27,643,38,navy,30,49.90,30822,Mrs,1969-04-17,Saxony,2016-06-23,0
1,2,2016-06-22,NaN,337,152,grey,30,19.95,30822,Mrs,1969-04-17,Saxony,2016-06-23,0
2,3,2016-06-22,2016-06-27,270,xxl,grey,49,79.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,1
3,4,2016-06-22,2016-06-27,142,xxl,grey,49,99.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,0
4,5,2016-06-22,2016-06-27,561,xxl,grey,3,14.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75002,75003,2016-08-20,2016-08-21,1447,39,brown,27,6.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0
75003,75004,2016-08-20,2016-08-21,2155,39,white,27,14.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,1
75004,75005,2016-08-20,2016-08-23,1473,44,black,7,19.90,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,1
75005,75006,2016-08-20,2016-09-07,1784,unsized,olive,41,19.90,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0
75006,75007,2016-08-20,2016-09-07,1427,39,black,27,14.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0

In [88]:
df.dtypes

order_item_id             int64
order_date               object
delivery_date            object
item_id                   int64
item_size                object
item_color               object
brand_id                  int64
item_price              float64
user_id                   int64
user_title               object
user_dob         datetime64[ns]
user_state               object
user_reg_date    datetime64[ns]
return                    int64
dtype: object

In [89]:
df["user_dob"] = pd.to_datetime(df.user_dob)
df["user_reg_date"] = pd.to_datetime(df.user_reg_date)
df["order_date"] = pd.to_datetime(df.order_date)

In [112]:
df ["age"] = df.order_date.dt.year - df.user_dob.dt.year -((df.order_date.dt.date)<(df.user_dob.dt.date))

In [113]:
df

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return,Age,age
0,1,2016-06-22,2016-06-27,643,38,navy,30,49.90,30822,Mrs,1969-04-17,Saxony,2016-06-23,0,47.0,47.0
1,2,2016-06-22,NaN,337,152,grey,30,19.95,30822,Mrs,1969-04-17,Saxony,2016-06-23,0,47.0,47.0
2,3,2016-06-22,2016-06-27,270,xxl,grey,49,79.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,1,46.0,46.0
3,4,2016-06-22,2016-06-27,142,xxl,grey,49,99.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,0,46.0,46.0
4,5,2016-06-22,2016-06-27,561,xxl,grey,3,14.90,30823,Mrs,1970-04-22,Baden-Wuerttemberg,2015-03-15,1,46.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75002,75003,2016-08-20,2016-08-21,1447,39,brown,27,6.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0,55.0,55.0
75003,75004,2016-08-20,2016-08-21,2155,39,white,27,14.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,1,55.0,55.0
75004,75005,2016-08-20,2016-08-23,1473,44,black,7,19.90,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,1,55.0,55.0
75005,75006,2016-08-20,2016-09-07,1784,unsized,olive,41,19.90,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0,55.0,55.0
75006,75007,2016-08-20,2016-09-07,1427,39,black,27,14.95,43801,Mrs,1961-11-25,Mecklenburg-Western Pomerania,2016-08-21,0,55.0,55.0

In [79]:
df.brand_id.nunique()

134

In [5]:
df.describe()

,order_item_id,item_id,brand_id,item_price,user_id,return
count,75007.000000,75007.000000,75007.000000,75007.000000,75007.000000,75007.000000
mean,37504.000000,784.831949,28.834362,60.662926,25740.186623,0.450105
std,21652.800158,679.962960,26.808145,44.723474,12947.166520,0.497508
min,1.000000,1.000000,1.000000,0.000000,9.000000,0.000000
25%,18752.500000,176.000000,5.000000,29.900000,14674.000000,0.000000
50%,37504.000000,479.000000,24.000000,49.900000,30486.000000,0.000000
75%,56255.500000,1517.000000,43.000000,74.900000,36479.000000,1.000000
max,75007.000000,2224.000000,137.000000,999.000000,43801.000000,1.000000

In [65]:
li = df[df.item_price == 999].item_id.unique().tolist()

Random Forest, Gradient Boosting, logisteische Regression, support vector machines

Testdaten impiziert einbauen

In [66]:
li

[2120]

In [67]:
df_2 = df.loc[df.item_id.isin(li) ]

In [68]:
df_2

,order_item_id,order_date,delivery_date,item_id,item_size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return
48479,48480,2016-08-02,NaN,2120,unsized,black,133,999.0,38928,Mr,1971-11-17,North Rhine-Westphalia,2016-08-03,0
49210,49211,2016-08-03,1994-12-31,2120,unsized,black,133,999.0,39066,Mr,1949-03-17,Baden-Wuerttemberg,2016-08-04,1
65019,65020,2016-08-11,1994-12-31,2120,unsized,black,133,999.0,4323,Mrs,1971-12-24,Baden-Wuerttemberg,2016-04-08,1
70148,70149,2016-08-15,2016-08-15,2120,unsized,black,133,999.0,4323,Mrs,1971-12-24,Baden-Wuerttemberg,2016-04-08,0

In [47]:
df.isnull().any()

order_item_id    False
order_date       False
delivery_date     True
item_id          False
item_size        False
item_color       False
brand_id         False
item_price       False
user_id          False
user_title       False
user_dob          True
user_state       False
user_reg_date    False
return           False
dtype: bool

In [61]:
df[df.delivery_date.isnull()]["item_id"].nunique()

1115